@use "./base/mixins.scss";
@use "./base/var.scss";

.extra__title-wrapper {
  margin-bottom: 32px;
}

.extra__list {
  @include mixins.list-reset;
  margin-bottom: 36px;
}

.extra__item {
  padding: 13.5px 0 18px;
  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

.extra__description-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 12px;
  text-align: start;
}

.extra__description-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 16px;
  justify-content: space-between;
  margin-bottom: 15px;
}

.extra__description {
  margin: 0;
  line-height: 14px;
  flex-shrink: 0;

  &:nth-child(2n) {
    text-align: end;
  }
}

.extra__button {
  font-size: 16px;
  line-height: 20px;
  padding: 11px 26px 9px 26px;
}

@media (min-width: 768px) {
  .extra__title-wrapper {
    margin-bottom: 78px;
  }

  .extra__list {
    margin-bottom: 69px;
  }

  .extra__item {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    padding: 26.5px 38px 27.5px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }

  .extra__description-wrapper {
    display: grid;
    gap: 20px 32px;
    grid-column: 2 / 3;
    justify-content: flex-end;
    margin: 0;
  }

  .extra__description-title {
    grid-column: 1 / 2;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  .extra__description {
    flex-shrink: 0;
    min-width: 60px;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  .extra__button {
    grid-column: -1 / 1;
  }
}

@media (min-width: 1200px) {
  .extra__container {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 79px;
  }

  .extra__list {
    margin-bottom: 0;
  }

  .extra__item {
    grid-template-columns: 1fr 294px 244px;
    gap: 16px 32px;
    align-items: center;
    padding: 15.5px 0 15.5px;
    border-left: none;
    border-right: none;
  }

  .extra__description-wrapper {
    justify-content: space-between;
  }

  .extra__description {
    text-align: left;

    &:nth-child(2n) {
      text-align: left;
      min-width: 50px;
    }
  }

  .extra__button {
    grid-column: -1 / -2;
    min-width: 244px;
  }
}
