@use "./base/mixins.scss";
@use "./base/var.scss";

.footer {
  padding: 27px 0 30px;
  background-color: #f1f1f1;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  display: none;
}

.footer__social-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 22px;
  border-bottom: 1px solid #e5e5e5;
}

.footer__social-list {
  @include mixins.list-reset;
  display: grid;
  grid-template-columns: repeat(3, 28px);
  gap: 29px;
}

.footer__social-link {
  display: block;
  width: 28px;
  height: 22px;
  transition: background-color 0.3s ease;

  &::after {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    top: 0;
    left: 0;
    background-color: #231f20;
  }

  &--vk::after {
    mask-image: url("../img/stack.svg#vk");
  }

  &--youtube::after {
    mask-image: url("../img/stack.svg#youtube");
  }

  &--telegram::after {
    mask-image: url("../img/stack.svg#telegram");
  }

  &:hover::after {
    background-color: var.$base-color;
  }

  &:focus-visible {
    outline: 2px solid var.$base-color;
  }

  &:active::after {
    opacity: 0.3;
    background-color: var.$base-color;
  }
}

.footer__dev-link {
  position: relative;
  font-family: inherit;
  font-size: 19px;
  line-height: 95%;
  font-weight: 700;
  color: var.$dark-color;
  display: flex;
  align-items: center;
  text-decoration: none;

  &::after {
    content: "";
    position: relative;
    margin-left: 28px;
    width: 27px;
    height: 37px;
    mask-image: url("../img/stack.svg#htmlacademy");
    background-color: var.$base-color;
  }

  &:hover::after {
    background-color: #46c1ae;
  }

  &:focus-visible {
    outline: 2px solid var.$base-color;
  }

  &:active::after {
    background-color: #46c1ae;
    opacity: 0.3;
  }
}

@media (min-width: var.$tablet) {
  .footer {
    padding: 49px 0 57px;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer__logo {
    display: block;
  }

  .footer__social-wrapper {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
    width: auto;
  }
}
