@use "./base/var.scss";

.header {
  z-index: 1;
}

.header__top {
  background-color: #ffffff;
}

.header__top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 22px 0 17px;
}

.header__logo {
  margin-left: 50%;
  transform: translateX(-50%);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__bottom {
  display: none;
}

@media (max-width: var.$tablet) {
  .header__top-wrapper {
    &--nojs {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: calc(100% + 60px);
      margin-left: -30px;
      padding-bottom: 0;
      border-top: 1px solid #ececec;
    }

    &--nojs .header__logo {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 0;
      transform: translateX(0);
      margin-bottom: 20px;
    }

    &--nojs .main-menu__button {
      display: none;
    }

    &--nojs .header__main-menu {
      border-top: 1px solid #ececec;
    }
  }
}

@media (min-width: var.$tablet) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .header__top {
    background-color: transparent;
    margin-bottom: -68px;
  }

  .header__top-wrapper {
    position: relative;
    display: block;
    padding: 0;
  }

  .header__bottom {
    display: flex;
    border-top: 1px solid #e1e1e1;
    background-color: #f9f9f9;
  }

  .header__logo {
    position: absolute;
    margin-left: 0;
    top: 22px;
    transform: translateX(0%);
  }

  .header__description-wrapper {
    text-align: end;
  }

  .header__description {
    display: block;
    position: relative;
    z-index: 2;
    padding: 23px 0;
    max-width: 246px;
    margin-left: auto;
  }
}

@media (min-width: var.$desktop) {
  .header__top {
    margin-bottom: 0;
    background-color: #ffffff;
  }

  .header__logo {
    position: absolute;
    margin-left: 50%;
    top: 9px;
    transform: translateX(-50%);
  }

  .header__botton-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header__description {
    padding: 0;
  }
}
