@use "./base/var.scss";

.hero {
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top -8px;
  background-color: #f9f9f9;
  border-top: 1px solid #e1e1e1;
}

.hero__wrapper {
  min-height: 489px;
  display: flex;
  flex-direction: column;
  padding: 73px 0 0;
}

.hero__title-wrapper {
  margin-bottom: 40px;
  display: block;
}

.hero__title {
  font-size: 27px;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.hero__links-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.hero__link {
  position: relative;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 19px;
  font-weight: 700;
  text-decoration: none;
  line-height: 126%;
  color: #ffffff;
  padding: 24px 170px 31px 30px;
  width: calc(100% + 60px);
  margin-left: -30px;
  background-color: var.$base-color;
  transition: all 0.3s;

  &:nth-child(2n) {
    background-color: var.$base-color--darker;
  }

  &--interior::before,
  &--toys::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 36px;
    transform: translateY(-50%);
    width: 40px;
    height: 62px;
    mask-image: url("../img/stack.svg#interior");
    background-color: #149080;
    opacity: 0.7;
  }

  &--toys::before {
    right: 27px;
    width: 60px;
    height: 60px;
    mask-image: url("../img/stack.svg#toy");
  }

  &:hover {
    margin-top: -5px;
    padding-bottom: 36px;
  }
}

@media (min-width: var.$tablet) {
  .hero {
    border-top: none;
  }

  .hero__title-wrapper {
    padding: 0 70px;
  }

  .hero__title {
    font-size: 50px;
  }

  .hero__wrapper {
    padding-top: 155px;
    min-height: 745px;
  }

  .hero__links-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(auto));
  }

  .hero__link {
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;
    padding: 25px 170px 34px 30px;
    width: 100%;
    margin-left: 0;

    &--interior::before,
    &--toys::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 36px;
      transform: translateY(-50%);
      width: 40px;
      height: 62px;
      mask-image: url("../img/stack.svg#interior");
      background-color: #149080;
      opacity: 0.7;
    }

    &--toys::before {
      right: 27px;
      width: 60px;
      height: 60px;
      mask-image: url("../img/stack.svg#toy");
    }

    &:hover {
      margin-top: -5px;
      padding-bottom: 36px;
    }
  }
}
