@use "./base/var.scss";

.logo {
  z-index: 1;
  display: block;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid var.$base-color--focus;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: 768px) {
  .logo {
    min-width: 174px;
    height: 52px;
  }
}

@media (min-width: 1200px) {
  .logo {
    min-width: 202px;
    height: 59px;
  }
}
