@use "./base/var.scss";

.main__hero {
  margin-bottom: 31px;
}

.main__top-product {
  margin-bottom: 31px;
}

.main__about {
  margin-bottom: 58px;
}


@media (min-width: var.$tablet) {
  .main__hero {
    margin-bottom: 40px;
  }

  .main__top-product {
    margin-bottom: 55px;
  }

  .main__about {
    margin-bottom: 82px;
  }
}

@media (min-width: var.$desktop) {
  .main__hero {
    margin-bottom: 120px;
  }

  .main__top-product {
    margin-bottom: 68px;
  }

  .main__about {
    margin-bottom: 90px;
  }
}
