@use "./base/mixins.scss";
@use "./base/var.scss";

.modal {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba($color: #ffffff, $alpha: 0.9);

  &--active {
    display: flex;
  }
}

.modal__wrapper {
  padding: 37px 30px 46px;
  width: 100%;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  background-color: #ffffff;
}

.modal__title {
  font-family: inherit;
  font-size: 25px;
  line-height: 120%;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var.$dark-color;
  margin: 0;
  margin-bottom: 12px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.modal__legend {
  font-size: 17px;
  line-height: 176%;
  text-align: center;
  padding: 0;
  margin-bottom: 21px;
}

.modal__list {
  @include mixins.list-reset;
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(3, minmax(62px, 33.3%));
  gap: 10px;
  margin-bottom: 34px;
}

.modal__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__label {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 17px;
  line-height: 94%;
  font-weight: 700;
  text-align: center;
  padding: 16px 20px;
  outline: 2px solid #ededed;
}

.modal__control-input[type="radio"] ~ .modal__label {
  &:hover {
    outline-color: #c7c7c7;
  }
}

.modal__control-input[type="radio"]:checked ~ .modal__label {
  outline: none;
}

.modal__control-input[type="radio"]:checked ~ .modal__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 2px solid var.$base-color;
  background-color: transparent;
}

.modal__button {
  cursor: pointer;
  font-size: 17px;
  line-height: 94%;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding: 18px 26px;
  border: none;
  background-color: var.$base-color;

  &:hover {
    background-color: var.$base-color--darken;
  }

  &:focus-visible {

    outline: 2px solid var.$base-color--darken;
  }
}

@media (min-width: var.$tablet) {
  .modal__wrapper {
    padding: 37px 105px 46px;
    width: auto;
  }

  .modal__title {
    font-size: 30px;
    line-height: 190%;
  }

  .modal__list {
    grid-template-columns: repeat(3, minmax(112px, 33.3%));
  }
}
