@use "./base/mixins.scss";
@use "./base/var.scss";

.reviews {
  padding-bottom: 51px;
}

.reviews__title {
  margin-bottom: 14px;
}

.reviews__list {
  @include mixins.list-reset;
  margin-bottom: 30px;
}

.reviews__text-wrapper {
  margin-bottom: 33px;
}

.reviews__text {
  line-height: 200%;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.reviews__user-wrapper {
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.reviews__user-name {
  font-size: 17px;
  line-height: 141%;
  font-weight: 700;
  margin-bottom: 3px;
  color: var.$dark-color;
}

.reviews__user-link {
  font-size: 17px;
  line-height: 176%;
}

.reviews__control {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
  align-self: flex-start;
}

.reviews__control-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 52px;
  width: 50%;
  padding: 13px;
  border: 1px solid #ececec;
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 26px;
    background-image: url("../img/stack.svg#arrow");
  }

  &--prev {
    border-right: none;
  }

  &--prev::before {
    transform: rotate(180deg);
  }

  &:hover::before {
    opacity: 0.6;
  }

  &:focus-visible {
    z-index: 1;
    outline: 1px solid var.$base-color;
    border: 1px solid var.$base-color;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.reviews__button-sand {
  width: 100%;
}

@media (min-width: var.$tablet) {
  .reviews {
    padding-bottom: 85px;
  }

  .reviews__wrapper {
    display: grid;
    grid-template-columns: 1fr 175px;
    grid-template-rows: auto 38px auto;
    grid-template-areas:
      "title button"
      ". ."
      "content content"
      ". control";
    gap: 0 40px;
    padding: 82px 0 37px 50px;
    margin-left: -50px;
    background: url("../img/review-bg.jpg") no-repeat left top / contain;
  }

  .reviews__title {
    grid-area: title;
    margin: 0;
  }

  .reviews__text-wrapper {
    margin-bottom: 61px;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 176%;
  }

  .reviews__list {
    grid-area: content;
    margin-bottom: 0;
  }

  .reviews__user-wrapper {
    max-width: 50%;
  }

  .reviews__user-name {
    font-size: 18px;
  }

  .reviews__control {
    grid-area: control;
    margin-top: -28px;
  }

  .reviews__control-button {
    min-height: auto;
    padding: 0;
    border: 0;
  }

  .reviews__button-sand {
    align-self: flex-start;
    grid-area: button;
    margin-top: -4px;
  }
}

@media (min-width: var.$desktop) {
  .reviews__wrapper {
    grid-template-rows: auto 35px auto;
    padding: 79px 0 86px 174px;
    margin-left: 0;
  }

  .reviews__text-wrapper {
    margin-bottom: 43px;
  }

  .reviews__user-name {
    font-size: 17px;
    line-height: 141%;
  }

  .reviews__button-sand {
    margin-top: 0;
  }
}
