@use "./base/var.scss";

.title {
  font-family: "OpenSans ", sans-serif;
  font-size: 25px;
  line-height: 120%;
  font-weight: 700;
  color: var.$dark-color;
  margin: 0;
}

@media (min-width: var.$tablet) {
  .title {
    font-size: 43px;
    line-height: 116%;
  }
}

@media (min-width: var.$desktop) {
  .title {
    font-size: 53px;
    line-height: 107%;
  }
}
