@use "./base/mixins.scss";
@use "./base/var.scss";

.video__wrapper {
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.video__title-wrapper {
  padding: 22px 34px 26px;
  border: 1px solid #ececec;
}

.video__title {
  position: relative;
  font-size: 17px;
  line-height: 141%;
  padding-left: 57px;
  margin: 0;
  color: var.$dark-color;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 22px;
    mask-image: url("../img/stack.svg#video");
    background-color: var.$base-color;
  }
}

.video__player-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video__picture {
  min-width: 100%;
}

.video__img {
  display: block;
  min-width: 100%;
  object-fit: cover;
}

.video__button-play {
  cursor: pointer;
  border: none;
  position: absolute;
  transition: all 0.3s ease;
  width: 100px;
  height: 76px;
  background-image: url("../img/stack.svg#play");
  background-color: transparent;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.6;
  }
}

.video__content-wrapper {
  padding: 33px 32px;
  border: 1px solid #ececec;
}

.video__description-wrapper {
  margin-bottom: 41px;
}

.video__description {
  font-size: 13px;
  line-height: 184%;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: var.$tablet) {
  .video__wrapper {
    display: flex;
    flex-direction: column;
  }

  .video__title-wrapper {
    padding: 40px 40px 0;
    order: 2;
    border-bottom: none;
  }

  .video__title {
    font-size: 20px;
    line-height: 120%;
    padding-left: 65px;
  }

  .video__description {
    font-size: 15px;
    line-height: 200%;
  }

  .video__player-wrapper {
    order: 1;
  }

  .video__content-wrapper {
    border-top: none;
    padding: 24px 40px 45px;
    order: 3;
  }
}

@media (min-width: var.$desktop) {
  .video__wrapper {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-areas:
      "player title"
      "player content";
  }

  .video__title-wrapper {
    padding: 47px 100px 0 79px;
    grid-area: title;
    border-bottom: none;
    order: 2;
  }

  .video__title {
    padding-left: 0;
    padding-top: 49px;

    &::before {
      left: 0;
      top: 0;
      transform: translateY(0);
    }
  }

  .video__player-wrapper {
    grid-area: player;
    order: 1;
  }

  .video__content-wrapper {
    grid-area: content;
    border-top: none;
    padding: 27px 56px 60px 79px;
    order: 3;
  }

  .video__description-wrapper {
    margin-bottom: 51px;
  }

  .video__picture {
    display: flex;
    min-width: 100%;
    min-height: 100%;
  }

  .video__img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}

